.movieList {
  background-color: #141414;
  color: #fff;

  &__title {
    padding-left: 30px;
    font-size: 1.5rem;
    @media (max-width: 768px) {
      font-size: 1rem;
    }
    margin-bottom: 0;
  }

  &__container {
    padding-left: 30px;
    display: flex;
    overflow-y: none;
    overflow-x: scroll;
    min-height: 170px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.movie {
  position: relative;
  align-self: center;
  padding-right: 10px;
  cursor: pointer;
  &:hover {
    .movie__image {
      transition-property: width, height;
      transition-duration: 200ms;
      transition-delay: 500ms;
      height: 250px;
    }

    .movie__content {
      height: calc(100% - 5px);
      width: calc(100% - 10px);
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0.452);
      transition: display 500ms 200ms;
      display: block;
    }


    z-index: 99;
  }

  &__content {
    height: calc(100% - 5px);
    width: calc(100% - 10px);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.452);
    position: absolute;
    display: none;
  }

  &__image {
    transition-duration: 200ms;
    height: 140px;
    border-radius: 3px;
    object-fit: contain;
  }

  &__button {
    font-size: 2rem;
    margin-right: 10px;
    color:#8c8c8c;
    &:hover {
      color: #fff;
    }
  }

  .icons-container {
    background: #000000c7;
    bottom: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
